@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #f1f0eb;
}
nav{
    background-color: #394f79;
}
a,h1{
    font-family: "Montserrat", sans-serif;
}
h2,h3{
    font-family: "Inter", sans-serif;
}
.contenedor1{
    background-color: #80ACAF;
}
.contenedor2{
    background-color: #15a8bc;
}